*{
    font-family: "Roboto", sans-serif;
  }
  
  h1 {
    font-size: 20px;
  }

  .company{
    color: red;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label, select, button {
    margin: 5px 0;
  }
  body {
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .Table {
    border-collapse: collapse;
    width: 900px;
    box-shadow: 13px 15px 25px -20px rgba(0,0,0,0.68);
  }
  .TdTable {
    border-width: 1px;
    border-style: solid;
    border-color: #E1DEE8;
    text-align: center;
    padding: 10px;
  }
  .LogoHead {
    border: none;
  }
  .Logo {
    padding: 20px;
    width: 400px;
  }
  .Product {
    transition: transform .4s;
    width: 60px;
  }
  .Product:hover {
    transform: scale(1.2);
  }
  .header {
    color: #50754B;
    font-size: 18px;
    padding: 30px;
  }
  .Sum {
    color: #6EB763;
  }

/* PDF */

  .container-col{
    display: flex;
    align-items: center;
  }
  .sbtw{
    justify-content: space-between;
  }
  
  .img-logo{
    width: 150px;
  }
  
  .c-green{
    color: green;
  }
  
  .min-width{
    text-align: right;
    min-width: 250px;
    max-width: 300px;
  }
  
  #pdfGenerator p,#pdfGenerator h3{
    margin: 5px;
    padding: 0px;
  }
  
  hr{
    margin: 20px 10px;
  }
  
  .addidional-information{
    padding-left: 20px;
  }
  
  /* Table */
  
  #pdfGenerator{
      width: 100%;
      border-collapse: collapse;
  }

#pdfGenerator th{
  font-size: 18px;
  color: green;
}

  #pdfGenerator td{
    border: 1px solid grey;
    text-align: center
  }

  #pdfGenerator th,#pdfGenerator td {
    padding: 10px 5px;
  }

  #pdfGenerator tr:nth-child(even){background-color: #f2f2f2;}
  #pdfGenerator tr:hover {background-color: #ddd;}